body{
    background-image: url(images/405858adc9437e4.jpg);
    color:white;
}
nav ul li{
    text-decoration: none;
    list-style: none;
    padding: 25px;
    float: center;
}
nav ul li a{
    text-decoration: none; 
    color: white;
}
header{
    background-color: black;
    height: 200px;
    margin: 0;
}
footer{
    background-color:brown;
    text-align: center;
    color: black;
}
logo
{
    height: 50px;
    width: 50px;
}
