body{
   background-image: url(images/405858adc9437e4.jpg);
    color:white;
}
nav ul li{
    text-decoration: none;
    list-style: none;
    padding: 100px;
    float: center;
}
nav ul li a{
    text-decoration: none; 
    color: aliceblue;
}
header{
    background-color: black;
    height: 500px;
    margin: 0;
}
footer{
    background-color:black;
    text-align: center;
    color: black;
}
logo
{
    height: 50opx;
    width: 500px;
}
