body{
  background:url(images/body-bg-sh.jpg);
    color:crimson;
}
nav ul li{
    text-decoration: none;
    list-style: none;
    padding: 25px;
    float: left;
}
nav ul li a{
    text-decoration: none; 
    color: aliceblue;
}
header{
    background-color: black;
    height: 200px;
    margin: 0;
}
footer{
    background-color:black;
    text-align: center;
    color: black;
}
logo
{
    height: 50px;
    width: 50px;
}
